@media screen and (max-width: 768px) {
  .dsk-diary__link {
    display: none;
  }
  .mbl-diary {
    background-color: #FBFFE9;
    display: flex;
    justify-content: center;
  }
  .mbl-diary__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
    margin-bottom: 4vh;
    background-color: rgba(160, 180, 91, 0.5);
    border-radius: 45px;
    box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.6);
    width: 90%;
  }
  .mbl-diary__title {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: calc((100vw + 129px) / 28);
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 8% 3% 8% 3%;
  }
  .mbl-diary__discription {
    display: flex;
    flex-direction: column;
  }
  .mbl-diary__text {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: calc((100vw + 173.8px) / 39.2);
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 4% 0 4%;
  }
  .mbl-diary__part {
    margin-bottom: 8%;
    text-align: center;
  }
  .mbl-diary__img {
    width: 85%;
    margin: 2% 0 7% 7%;
  }
  .mbl-diary__go {
    display: flex;
    justify-content: center;
  }
  .mbl-diary__link {
    background-color: #A0B45B;
    font-family: "Nunito", sans-serif;
    color: #FBFFE9;
    text-decoration: none;
    font-size: calc((100vw + 173.8px) / 39.2);
    width: calc((100vw + 480.27px) / 7.1);
    height: calc((100vw + 409px) / 26.1);
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
  }
  .mbl-diary__link_mk {
    margin-top: 6vw;
    font-family: "Nunito", sans-serif;
  }
}
@media screen and (min-width: 768px) {
  .mbl-diary__go,
  .mbl-diary__link {
    display: none;
  }
  .dsk-diary {
    background-color: #FBFFE9;
    display: flex;
    justify-content: center;
  }
  .dsk-diary__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(160, 180, 91, 0.5);
    border-radius: 45px;
    box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.6);
    width: 60vw;
    margin-bottom: 5.5vw;
    padding: 3% 0 3% 0;
  }
  .dsk-diary__block_soap, .dsk-diary__block_candle {
    margin-bottom: 0;
  }
  .dsk-diary__title {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: calc((100vw + 1541.3px) / 115.46);
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-bottom: 3vh;
  }
  .dsk-diary__discription {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .dsk-diary__text {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: calc((100vw + 1830px) / 216.5);
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dsk-diary__part {
    margin: 6% 0 0 15%;
    text-align: center;
  }
  .dsk-diary__link {
    background-color: #A0B45B;
    color: #FBFFE9;
    text-decoration: none;
    font-size: 1em;
    width: calc((100vw + 2163px) / 26.6);
    height: calc((100vw + 4428px) / 173.2);
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0 rgba(63, 84, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5.5vh;
  }
  .dsk-diary__link_mk {
    margin-top: 2vw;
  }
  .dsk-diary__img {
    width: 70%;
    margin: 3% 0 0 15%;
  }
}/*# sourceMappingURL=diary.css.map */