.loza__body {
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .loza-mobile {
    display: none;
  }
  .loza-desktop {
    background-color: #FBFFE9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .loza-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9vw;
    margin: 5.63vw 5vw 5% 5vw;
  }
  .loza-content1__image-block {
    display: flex;
    justify-content: center;
    width: 45vw;
  }
  .loza-content1__image {
    width: 95%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 95%;
  }
  .loza-content1__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    margin-left: 4vw;
  }
  .loza-content1__title {
    text-align: center;
    margin-top: -0.1vw;
    margin-bottom: 1.6vw;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Inter", sans-serif;
    font-size: calc((100vw - 53px) / 34);
    font-weight: 600;
  }
  .loza-content1__text {
    margin-top: 2.07vw;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Nunito", sans-serif;
    font-size: calc((100vw + 48px) / 64);
    font-weight: 300;
  }
  .loza-content1__line {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  }
  .loza-content2 {
    display: flex;
    justify-content: center;
    margin: 0 5vw 5% 5vw;
    gap: 10px;
  }
  .loza-content2__block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 30vw;
  }
  .loza-content2__block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 30vw;
  }
  .loza-content2__block3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 30vw;
  }
  .loza-content2__image1 {
    width: 95%;
  }
  .loza-content2__image2 {
    width: 95%;
  }
  .loza-content2__image3 {
    width: 95%;
  }
  .loza-content2__image4 {
    width: 95%;
  }
  .loza-content2__image5 {
    width: 95%;
  }
  .loza-content2__image6 {
    width: 95%;
  }
}
@media screen and (max-width: 768px) {
  .loza-desktop {
    display: none;
  }
  .loza-mobile {
    background-color: #FBFFE9;
    margin: 0 auto;
    margin-top: 85px;
  }
  .loza-mobile__content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loza-mobile__image1 {
    width: 88%;
    border-radius: 15%;
    margin-top: 20px;
  }
  .loza-mobile__title {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: calc((100vw - 5px) / 18);
  }
  .loza-mobile__line2 {
    width: 88%;
    height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
  }
  .loza-mobile__text-block {
    width: 88%;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Nunito", sans-serif;
    font-size: 4.58vw;
    font-size: calc((100vw + 133px) / 30);
  }
  .loza-mobile__content2 {
    margin: 25px;
  }
  .loza-mobile__image-block1 {
    display: flex;
    justify-content: space-around;
  }
  .loza-mobile__image-block2 {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  .loza-mobile__image2 {
    width: 45%;
    border-radius: 15px;
  }
  .loza-mobile__image3 {
    width: 45%;
    border-radius: 15px;
  }
  .loza-mobile__image4 {
    width: 45%;
    border-radius: 15px;
  }
  .loza-mobile__image5 {
    width: 45%;
    border-radius: 15px;
  }
  .loza-mobile__title2 {
    width: 100%;
    text-align: center;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: calc((100vw - 5px) / 18);
  }
  .loza-mobile__image-block3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
  }
  .loza-mobile__image-block4 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .loza-mobile__image6 {
    width: 40%;
  }
  .loza-mobile__image7 {
    width: 40%;
  }
  .loza-mobile__image8 {
    width: 40%;
  }
  .loza-mobile__image9 {
    width: 40%;
  }
}/*# sourceMappingURL=mk3.css.map */